.BuildControls {
  width: 100%;
  background-image: url("https://i.pinimg.com/originals/a8/82/40/a88240e79680a7a6b31bdccdfd753c83.gif");
  /* background-color: #cf8f2e; */
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0 2px 1px #ccc;
  margin: auto;
  padding: 10px 0;
}
